.cardlist {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

.cardlist__tabl {
  padding-top: 80px;
  border-top: 1px solid #E8E8E8;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  grid-auto-flow: row;
  grid-column-gap: 24px;
  grid-row-gap: 30px;
}

.cardlist__again {
  padding-top: 80px;
  padding-bottom: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardlist__btnagain {
  margin: 0;
  outline: none;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 146px;
  padding-right: 146px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

@media screen and (max-width: 768px) {

  .cardlist {
    padding-left: 30px;
    padding-right: 30px;
  }

  .cardlist__tabl {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 36px;
  }

  .carditem {
    max-width: 339px;
  }

}


@media screen and (max-width: 320px) {

  .cardlist {
    padding-left: 10px;
    padding-right: 10px;
   
  }

  .cardlist__tabl {
    padding-top: 50px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 17px;
  }

  .carditem {
    max-width: 300px;
  }

  .cardlist__btnagain {
    font-size: 12px;
    line-height: 15px;
    padding-left: 106px;
    padding-right: 106px;
  }

  .cardlist__again {
    padding-bottom: 67px;
  }

}
