.portfolio {
    box-sizing: border-box;
    margin-left: 70px;
    margin-right: 70px;
    padding-bottom: 108px;
    /* background-color: blueviolet; */
}

.portfolio__listing {
    padding-top: 101px;
}

.portfolio__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    padding-bottom: 30px;
}

.portfolio__site {
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio__sitetype {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
}

.portfolio__sitetype:last-child {
    border-bottom: none;
}

.portfolio__description {
    display: block;
    width: 100%;
    position: relative;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 18px;
    transition: 0.3s ease;
}

.portfolio__description:hover {
    background: #E8E8E8;
}

.portfolio__description::after {
    content: '\2197';
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #000000;
    position: absolute;
    top: 20px;
    right: 0;
}


@media screen and (max-width: 768px) {
    .portfolio {
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 74px;
    }

    .portfolio__listing {
        padding-top: 87px;
    }

    .portfolio__description {
        font-size: 28px;
        line-height: 50px;
    }

    .portfolio__description::after {
        font-size: 28px;
    }
}

@media screen and (max-width: 320px) {
    .portfolio {
        margin-left: 14px;
        margin-right: 14px;
        padding-bottom: 37px;
    }

    .portfolio__listing {
        padding-top: 67px;
    }

    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 39px;
    }

    .portfolio__sitetype {
        margin-bottom: 20px;
    }

    .portfolio__sitetype:last-child {
        margin: 0;
    }

    .portfolio__description {
        font-size: 18px;
        line-height: 28px;
        padding-top: 1px;
    }

    .portfolio__description::after {
        font-size: 18px;
        line-height: 28px;
        padding-top: 1px;
        top: 0;
        right: 1px;

    }
}