.navigate {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.navigate__linkland {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
    transition: background-color 0.25s ease 0s;
}

.navigate__linkland:hover {
    cursor: pointer;
    background-color: #2BE080;
    border-radius: 3px;
}

.navigate__linkland:last-child {
    margin-right: 0;
    border-radius: 3px;
}

.navigate__films {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85.5%;
}

.navigate__link {
    display: block;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-right: 16px;
    transition: 0.25s ease 0s;
}

.navigate__link:last-child {
    margin: 0;
}

.navigate__link:hover {
    font-weight: 500;
}

.navigate__link_active {
    color:#2BE080;
    font-weight: 500;
}


.navigate__account {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 8px 20px;
    background-color: #F9F9F9;
    border-radius: 20px;
}

.burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.burger_vision {
    display: none;
}



.burger__btn {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: #ffffff;
    background-image: url('../../images/burger.png');
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.burger__menu {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    transition: left 0.3s ease;
}

.burger__menu_vision {
    left: -1000px;
}

.burger__page {
    background-color: #ffffff;
    max-width: 520px;
    width: 100%;
    padding-top: 165px;
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.burger__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 26px;
    border-bottom: 2px solid transparent;
    transition: 0.25s ease;
}

.burger__link:last-child {
    margin-bottom: 0;
}

.burger__link:hover {
    border-bottom: 2px solid #000000;
}

.burger__btnclose {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 33px;
    right: 30px;
}

.btncross {
    border: 2px solid black;
    width: 100%;
    height: 0;
    position: relative;
    transform: rotate(45deg);
}

.btncross::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    border: 2px solid black;
    transform: rotate(90deg);
}



@media screen and (max-width: 768px) {
    .nav1280 {
        display: none;
    }

    .burger_vision {
        display: flex;
    }
   
}

@media screen and (max-width: 320px) {
    .navigate__linkland {
        font-size: 10px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 2px;
        line-height: 16px;
    }

    .nav1280 {
        display: none;
    }

    .burger_vision {
        display: flex;
    }

    .burger__menu {
        background: #ffffff;
    }

    .burger__page {
        padding-top: 144px;
        padding-bottom: 46px;
    }

    .burger__link {
        margin-bottom: 22px;
    }

    .burger__btnclose {
        top: 18px;
        right: 19px;
    }

}